language: node_js
sudo: false
node_js:
- 5
- 6
script:
- npm run copy-utils
- npm run ci
- chmod 777 ./test/shell_scripts/run_tests.sh
- ./test/shell_scripts/run_tests.sh
deploy:
  provider: npm
  email: pearson-design-accelerator@pearson.com
  api_key:
    secure: Ids5k7pRUppc/jkOlt/NqDCxC4SvvHeNNkXLA9IOuOuAXNJuT2s/DkaFagO6ddymQ+Wy+FU75DqvlFpT0RrhI3sBDI79eWSQG3BZVZZJcXcafaGjOsUe3fvoVnS2mpAetciAbOA2WCMC6pPm74nALhh42Lx/LHsviRT18Bfs/BU7DnJS0BqPd4UM1ohzIxg4dmVse9zl8zyMWjZ9P/clvBPzT6r/ndezAz6FIjuWdPLQaDT6UlEZ0//VTX6gwACUJ8vUUWMVeBSdvQhUcxVopcC+yZyWup3qIqvHlF1mKvyRAXA5qCPfod+Ez2M5MhO6nOne8wXMvqsMYm5X1TFCO32rc8tFQXymcuBz2GK6ktfCrIMxo1/bNDUAmWL7iI7xo9QDBFuEhv7dyJjgiRYYc7ysWlLC8+Xhrsn3mZDPLMe7tOooqlceraNExfrQrX5BD/xZqLJpFg/9FdHmt+gNNgFEZDGP8TB2qN9h1AovORx4kupCjsB00G07cwFTaznxwW007jG0ojzWwtwOoTZca2980kriQavUpojzdVCtWUpBOv3TkiNyLZrqSjC+XKqRca0jwyWgPWCOH+SGpnvnUQ+5Sf5HCUH3huR2wDOEBtrkrcvO8p6LUVYyV3p/Gl21nB4v+x1AMR+9CA3SGXlErhZRex4r/c07BCNCuHRQ9EM=
  skip_cleanup: true
  on:
    branch: master
    tags: true
env:
  global:
  - secure: tcsc9Htu4xe8TfzY9fZ93j3ChP6s0CICIOyb6usuyfCSm8oPyE0C0NxiyMn8v1tMT0teKUV1RnlMCa7IL0ukHGHQ/XI9rrPCPugQeDszgL5CQqGLkzGj3UFs20vtgyYftdv3PfSAYP7q+2HF60KHctc/D7enJup/vAJxHUDmufCB3KAT1Y7bHGUmffbEhfhOdLLdJ0En8/B+8NfXEEYVrRpfKJ84lmGplWYj3PmoPV0TYJ8dYTCZw5SUo2eQpOv7L+0s3oIbvEKfYypPHjAfNoGssfKLKYxJ/5nSYON0Ifs4X8U12JFVbx97KMN2YmjPs/1qz3UPEmHQGvaAGjtJ41DhUCrTP7JghLxool9HBh+NWsSjjicghMq36DXF5hdqkTFQFyR1sHGsjN4JQrVWcGHAnQg5Cq5MCCw+bvmx9Z2bcl5C/5r92HK71/6dBuwjtBJ5QT/dg0BV1eKqp6IuXxblMjaFMnoKUjz9nrbrWofTM5E4QiLhdGNhNeDvmw/NCU3aVHEzCDpb3A/OIhPW2qI7HIfwI9OeUQGuH5V4KFXdjl/WwcxlRi5lBike3sRGT99eNM+yIv7BdPzF76vfKr+O3dd1xeK59pBMyXcYnIaJR2IbyXS5lDe/iVsovOoJ5iy85bOWe2W08CdECdu+HovOntvUfT5vUAV8mq/Zqgc=
notifications:
  hipchat: qC4nmZeGuRfbDeOkanI6nmQHthVHI2lQuvC0I7pE@2846476
