language: node_js
sudo: false
node_js:
- 4.2
script:
- npm run ci
- chmod 777 ./test/shell_scripts/run_tests.sh
- ./test/shell_scripts/run_tests.sh
deploy:
  provider: npm
  email: pearson-design-accelerator@pearson.com
  api_key:
    secure: CMUnWtPzWTNmp5zDnULSh+J/athajqLFcY93CeXglB83iraUgrjE6+dMoCsOfBx3irYetC4XyIZK/+pSZEfhqeeU9Gc9kZb45rcSbwCMtD2U194HNGlHOfySaRspihfFZTtbvs5bHorhJy7tzFflu6tQlDLr5N9WOogBATv0TlcXMbfTYLGW470G1B3ECCJCIGjPbKc+llZIK53IfR8QOYgrWlg35dTZtjeVPtD6oaPE1XblcS8QrNToY05ztLL3ye9K+xgjwP8J7iZ6ETLTbE9IBg8/WfDe1PTH508tWYsLBT76tuPifNTNWemPzB5BiRVgrecbv3a4jQ7BXLSEOB7cBEvqmoKcybDX1jXJdGlFnn0IId9hmVmcGrwYdAgIvA+VsI6xwAd4T5rhgvH/ja9YWCzO4w+yrEndKilqHVIugS/K/uU9ZZtwtpxDTCGxRbeAdZXh7rEaLRH8Ax+/G/cBBy7BkvWYHH7Mud8E4zm54K3xQNIEbwwdzqK3qLEkTA833h9t8o9Fa8brtVI6Mb5+vUmRNppdivLs85qQfl/Kac9pmXHQuiXWVjszfX8x5JG42wz9dwrCYnhdPZyDsWEz7/AJAxHW/K6q5LaxwFbos3SrMdRlgSmpkIaSCR3L629290YbtJ4oKfxa4/jXlQmqgCw+LDkFVQ8pphghD8E=
  skip_cleanup: true
  on:
    branch: master
    tags: true
env:
  global:
  - secure: tcsc9Htu4xe8TfzY9fZ93j3ChP6s0CICIOyb6usuyfCSm8oPyE0C0NxiyMn8v1tMT0teKUV1RnlMCa7IL0ukHGHQ/XI9rrPCPugQeDszgL5CQqGLkzGj3UFs20vtgyYftdv3PfSAYP7q+2HF60KHctc/D7enJup/vAJxHUDmufCB3KAT1Y7bHGUmffbEhfhOdLLdJ0En8/B+8NfXEEYVrRpfKJ84lmGplWYj3PmoPV0TYJ8dYTCZw5SUo2eQpOv7L+0s3oIbvEKfYypPHjAfNoGssfKLKYxJ/5nSYON0Ifs4X8U12JFVbx97KMN2YmjPs/1qz3UPEmHQGvaAGjtJ41DhUCrTP7JghLxool9HBh+NWsSjjicghMq36DXF5hdqkTFQFyR1sHGsjN4JQrVWcGHAnQg5Cq5MCCw+bvmx9Z2bcl5C/5r92HK71/6dBuwjtBJ5QT/dg0BV1eKqp6IuXxblMjaFMnoKUjz9nrbrWofTM5E4QiLhdGNhNeDvmw/NCU3aVHEzCDpb3A/OIhPW2qI7HIfwI9OeUQGuH5V4KFXdjl/WwcxlRi5lBike3sRGT99eNM+yIv7BdPzF76vfKr+O3dd1xeK59pBMyXcYnIaJR2IbyXS5lDe/iVsovOoJ5iy85bOWe2W08CdECdu+HovOntvUfT5vUAV8mq/Zqgc=
notifications:
  hipchat: qC4nmZeGuRfbDeOkanI6nmQHthVHI2lQuvC0I7pE@2846476
